.menu .title {
    cursor: pointer;
    font-size: 20px;
}

.menu .title::before {
    content: "▶";
    font-size: 16px;
    color: blue;
}

.open .title::before {
    content: "▼";
}

ul {
    margin: 0;
    padding-left: 20px;
    display: none;
    list-style: none;
}

.open ul {
    display: block;
}